<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css" />
    <title>Song: <%- seed %></title>
</head>

<body>

<div id="title">
<img src="https://1.bp.blogspot.com/-aHOisZDgTsY/U9j7hdY41qI/AAAAAAACTkQ/nzG3yQgc0R8/s1600/3w382233.png" width="60px" height="60px"/>
<%- seed %>
<img src="https://1.bp.blogspot.com/-aHOisZDgTsY/U9j7hdY41qI/AAAAAAACTkQ/nzG3yQgc0R8/s1600/3w382233.png" width="60px" height="60px"/>
</div>

<%- include('../partials/header.ejs') %>

<div id="app">
    <p>Your song inspired by &apos;<%- seed %>&apos;:</p>
    <audio controls>
        <source src="generated_songs/song_<%- seed %>.wav" type="audio/wav" />
        WARNING: Your browser does not support embedded audio!
    </audio>

    <br /> <br /> <br />

    <a download href="generated_songs/song_<%- seed %>.wav">Download this song!</a>
</div>

</body>
</html>
